body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

.navbar, .about-container, .carousel-container, .contact-container {
  border-radius: 5px;
  margin-bottom: 0rem;
  padding: 2rem;
}

.dark {
  background-color: #333;
  color: #f9f9f9;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #343333;
  }
  
  .button {
    display: flex;
    align-items:flex-end;
    color: aliceblue;
    justify-content: center;
    background-color: #636363;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .social-link .faInstagram {
    margin-right: 1.5rem;
  }
  
  .social-link .faWhatsapp {
        margin-right: 1.5rem;
    }
  
  /* Oculta el menú en pantallas de menos de 600px de ancho */
  @media (max-width: 600px) {
    .navbar ul {
      display: none;
    }
  }
  
  .about-container {
    font-family: 'Arial', sans-serif;
    padding: 2rem;
  }
  
  .about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  
  .about-content p {
    flex: 1;
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
    line-height: 1.6;
    text-align: justify; /* Justifica el texto */
  }
  
  .about-content img {
    max-width: 30%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center; /* Centra el título */
    margin-bottom: 1rem; /* Añade un margen debajo del título */
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .about-content p {
    animation: fadeIn 2s ease-in-out;
  }
  
  .about-content img {
    animation: fadeIn 2s ease -in-out;
  }

}